<nav>
  <div>
    <a href="/">Homepage</a>
    <a href="/cocktails/index">All Cocktails</a>
    <a href="/bottles/index">All Bottles</a>
  </div>
  <div>
    <a href="/users/new">Sign Up</a>
    <a href="/users/login">Log In</a>
    <a href="/users/index">My Account</a>
    <a href="/users/logout">Logout</a>
  </div>
</nav>