<nav>
  <div>
    <a href="/">Homepage</a>
    <a href="/cocktails">All Cocktails</a>
    <a href="/bottles">All Bottles</a>
  </div>
  <div>
    <a href="/users/new">Sign Up</a>
    <a href="/users/login">Log In</a>
    <a href="/users">My Account</a>
    <a href="/users/logout">Logout</a>
  </div>
</nav>