<% if (user) { %>
  <nav id="user-nav">
    <a href="/users/profile">My Profile</a>
    <a href="/users/<%= user.id %>/bottles">Liquor Cabinet</a>
    <a href="/users/<%= user.id %>/cocktails">Favorite Recipes</a>
  </nav>
  <% } %>