<% if (user) { %>
  <nav id="user-nav">
    <a href="/users/profile">Profile</a>
    <a href="/users/<%= user.id %>/bottles">My Cabinet</a>
    <a href="/users/<%= user.id %>/recipes">Possible Recipes</a>
    <a href="/users/<%= user.id %>/cocktails">Favorite Recipes</a>
  </nav>
  <% } %>