<h1>Welcome To The Cocktail Cabinet</h1>
<% if (!user) { %>
  <a href="users/new" class="button">New User Sign Up</a>
  <a href="users/login" class="button">User Login</a>
<% } %>
<a href="cocktails/" class="button">Browse All Cocktails</a>