<h1>Cocktails by Category</h1>

<div class="button-container">
<% cocktails.forEach(cocktail => { %>
    <div class="categories">
      <form method="GET" action="/cocktails/list">
        <input type="hidden" name="category" value="<%= cocktail.strCategory %>">
        <input type="submit" value="<%= cocktail.strCategory %>" class="category-button">
      </form>
    </div>
<% }) %>
</div>
