<h1>Favorited Cocktails</h1>

<div class="cocktail-container">
  <% favorites.forEach(cocktail => { %>
    <div class="cocktail">
      <img src="<%= cocktail.img_url %>" alt="" width="150">
      <%= cocktail.name %>
    </div>
  <% }) %>

</div>