<h1>Hello, <%= user.first_name %>, welcome to your account.</h1>
<div class="user-links">
  <div class="button"><a href="/users/profile">My Profile</a></div>
  <div class="button"><a href="/users/<%= user.id %>/bottles">Liquor Cabinet</a></div>
  <div class="button"><a href="/users/<%= user.id %>/cocktails">Favorite Recipes</a></div>
</div>